---
import background from "@public/images/home/background.jpg";
import type I18N from "../i18n";
interface Props {
  i18n: I18N;
}

const { i18n } = Astro.props;
const hero = i18n.HERO;
---

<!-- Header -->
<section
  style={`background-image: url(${background.src})`}
  class="bg-image bg-fixed bg-cover bg-center bg-no-repeat flex items-center justify-center h-screen w-full"
>
  <span
    class="absolute bg-blue-950 top-0 left-0 w-full h-screen bg-opacity-80 z-0"
  ></span>
  <header class="text-center text-white text-balance z-10">
    <!-- Header Content -->

    <h2 class="text-6xl font-semibold mx-auto mb-10">
      {hero.TITLE}
      <strong class="text-pink-600">{hero.TITLE_HL}</strong>
    </h2>
    <p class="text-xl">
      {hero.SUBTITLE_L1}
      <br />
      {hero.SUBTITLE_L2}
      <strong>{hero.SUBTITLE_L2_HL}</strong>
    </p>
    <a
      href="#"
      class="inline-block mt-10 bg-pink-600 px-12 py-3 rounded-full font-semibold text-lg shadow-md shadow-pink-400"
      >{hero.CALL_TO_ACTION}</a
    >
  </header>
</section>
