---
import i18n from "@/i18n/home/es.json";
---

<!-- Header -->
<section
  class="bg-image bg-fixed bg-cover bg-center bg-no-repeat flex items-center justify-center h-screen w-full"
>
  <span
    class="absolute bg-blue-950 top-0 left-0 w-full h-screen bg-opacity-80 z-0"
  ></span>
  <header class="text-center text-white text-balance z-10">
    <!-- Header Content -->

    <h2 class="text-6xl font-semibold mx-auto mb-10">
      {i18n.HEADER.TITLE}
      <strong class="text-pink-600">{i18n.HEADER.TITLE_HL}</strong>
    </h2>
    <p class="text-xl">
      {i18n.HEADER.SUBTITLE_L1}
      <br />
      {i18n.HEADER.SUBTITLE_L2}
      <strong>{i18n.HEADER.SUBTITLE_HL}</strong>
    </p>
    <a
      href="#"
      class="inline-block mt-10 bg-pink-600 px-12 py-3 rounded-full font-semibold text-lg shadow-md shadow-pink-400"
      >{i18n.HEADER.CALL_TO_ACTION}</a
    >
  </header>
</section>

<style>
  .bg-image {
    background-image: url("/background.jpg");
  }
</style>
