---
import HighlightArticle from "@/components/custom/HighlightArticle.astro";

import ArticleImage1 from "images/article1.jpg";
import ArticleImage2 from "images/article2.jpg";
import ArticleImage3 from "images/article3.jpg";

import type {I18N} from "@/i18n/i18n"
interface Props {
  i18n: I18N
}

const { i18n } = Astro.props
const whyUs = i18n.HOME.WHY_US_SECTION
---

<section class="flex flex-col items-center bg-white">
  <div class="container px-10">
    <header class="md:flex">
      <div class="w-full md:w-1/2 mb-4 md:mb-0">
        <p
          class="text-lg font-semibold uppercase tracking-wide text-blue-950 md:pl-3 text-center md:text-left"
        >
          ¿ p o r q u é <span class="px-2"></span> s u a d s ?
        </p>
        <h2 class="text-5xl md:text-7xl uppercase font-semibold text-blue-900 mt-10">
          {whyUs.TITLE}
          <span class="text-pink-500">{whyUs.TITLE_HL}</span>
        </h2>
      </div>

      <div class="w-full md:w-1/2 md:mt-72 md:mb-16">
        <p class="text-2xl tracking-wider leading-loose text-blue-950">
          {whyUs.SUBTITLE}<strong
            >{whyUs.SUBTITLE_HL}</strong
          >
        </p>
      </div>
    </header>

    <!-- First -->
    <HighlightArticle 
      start="left",
      title={whyUs.A1_TITLE},
      titleHl={whyUs.A1_TITLE_HL},
      body={whyUs.A1_BODY},
      ImgUrl={ArticleImage1},
      imgAlt="woman-smiling-boy-running"
    />
    
    <!-- Second -->
    <HighlightArticle 
      start="right",
      title={whyUs.A2_TITLE},
      titleHl={whyUs.A2_TITLE_HL},
      body={whyUs.A2_BODY},
      ImgUrl={ArticleImage2},
      imgAlt="three-women-laughing"
    />

    <!-- Third -->
    <HighlightArticle 
      start="left",
      title={whyUs.A3_TITLE},
      titleHl={whyUs.A3_TITLE_HL},
      body={whyUs.A3_BODY},
      ImgUrl={ArticleImage3},
      imgAlt="three-women-laughing"
    />
  </div>
</section>
